@import "tailwindcss";

.deco {
    background-image: linear-gradient(#e7e7e7 0.5px, transparent 0.5px), linear-gradient(to right, #e7e7e7 0.5px, transparent 0.5px);
        background-size: 43px 43px;
        background-color: #ffffff;
}